{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정생성</h4>
        </div>
    </div>
    <form method="post" class="post-form row g-3 p-4">
        {% csrf_token %}

        {% comment %}{% include "form_errors.html" %}{% endcomment %}

        {{ form.username.is_valid }}

        <div class="row mb-3">
            <div class="col">
                <label for="username">사용자 이름</label>
                <input type="text" class="form-control
                    {% if form.errors.username %}is-invalid{% elif form.is_bound %}is-valid{% endif %}"
                       placeholder="Username" aria-label="Username" name="username"
                       id="username" value="{{ form.username.value|default_if_none:'' }}">
                <div class="invalid-feedback">
                    {{ form.errors.username }}
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>

            </div>
            <div class="col">
                <label for="email">이메일</label>
                <input type="email" class="form-control
                    {% if form.errors.email %}is-invalid{% elif form.is_bound %}is-valid{% endif %}"
                       placeholder="Email" aria-label="Email" name="email"
                       id="email" value="{{ form.email.value|default_if_none:'' }}">
                <div class="invalid-feedback">
                    {{ form.errors.email }}
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control
                    {% if form.errors.password1 %}is-invalid{% elif form.is_bound %}is-valid{% endif %}"
                       placeholder="Password1" aria-label="Password1"
                       name="password1"
                       id="password1" value="{{ form.password1.value|default_if_none:'' }}">
                <div class="invalid-feedback">
                    {{ form.errors.password1 }}
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control
                    {% if form.errors.password2 %}is-invalid{% elif form.is_bound %}is-valid{% endif %}"
                       placeholder="Password2" aria-label="Password2"
                       name="password2"
                       id="password2" value="{{ form.password2.value|default_if_none:'' }}">
                <div class="invalid-feedback">
                    {{ form.errors.password2 }}
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <div class="row p-4">
            <button type="submit" class="btn btn-primary text-center">생성하기</button>
        </div>
    </form>

</div>
{% endblock %}